header{
    margin-left:17%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    margin-right:17%;
}
.navbar{
    flex-grow:1;
    background-color: white;
    border-color:white;
    border-radius:25px;
}
.navbar:nth-child(8){
    background-color: rgb(4, 4, 156);
    color:white;
}
.navbar:nth-child(9){
    background-color: rgb(4, 4, 156);
}